#chessCards,#agent,#profit,#lotteryReport{
    .el-input__inner{
        background-color: #000307;
        color: #e7e7e9;
        border: 1px solid #189be3;
    }
    .el-range-editor--mini .el-range-separator{
        width: 22px;
            color: #f2fafc;
    }
    .el-date-editor .el-range__icon{
            color: #f2fafc;
    }
    .el-date-editor .el-range__close-icon{
            color: #f2fafc;
    }
}