#chessCards,#agent,#profit,#lotteryReport,#electronicSports{
    .el-input__inner{
        background-color: #000307;
        color: #e7e7e9;
        border: 1px solid #189be3;
    }
    .el-range-editor--mini .el-range-separator{
        width: 22px;
        color: #f2fafc;
    }
    .el-date-editor .el-range__icon{
        color: #f2fafc;
    }
    .el-date-editor .el-range__close-icon{
        color: #f2fafc;
    }
}

#lottery{
    .el-tabs__item{
        padding: 0px 10px;
    }
    .el-tabs__item.is-active,.el-tabs__item:hover{
        color: #e4150d;
    }
    .el-tabs__active-bar{
        background-color: #e4150d;
    }
}

#lottery,#recharge{
    .el-dialog__header{
        background: #cc9727;
        color: @color_white;
        font-weight: 600;
        padding: 15px 20px;
        .el-dialog__headerbtn{
            top: 12px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid @color_white;
            i{
                color: @color_white;
            }
        } 
    }
}
#recharge{
    .el-dialog__header{
        background: #032042;
    }
}

#home_page{
    .el-carousel__container{
        height: 740px;
    }
    .el-carousel__arrow--left{
        .mixin_image(url('../../static/dream/left_nomal.png'));
        .el-icon-arrow-left{
            display: none;
        }
    }
    .el-carousel__arrow--left:hover{
        .mixin_image(url('../../static/dream/left_hover.png'));
    }
    .el-carousel__arrow--right{
        .mixin_image(url('../../static/dream/right_nomal.png'));
        .el-icon-arrow-right{
            display: none;
        }
    }
    .el-carousel__arrow--right:hover{
        .mixin_image(url('../../static/dream/right_hover.png'));
    }

}
